button {
    padding: 1rem;
    border: $border;
}

.button {
    margin: 1rem 0;
    background-color: $color-primary !important;
    padding: 1rem 2rem !important;
    border-radius: 30px !important;
    border: 1px $color-primary solid !important;
    color:black !important;

    &--black{
        background-color: black;
        color:white;
    }
}