.profile {
    &__create {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
    }
    &__button {
        border:1px solid grey;
        border-radius: 30px;
        padding:1rem;
        margin:.5rem;
    }
}